:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
    background:  radial-gradient(
      circle at top left,
      rgba(30, 64, 175, 0.35),
      transparent 35%
    ),
    linear-gradient(
      135deg,
      #020617,
      #111827
    );
  

}


h1,h2,h3 {
 
  line-height: 1.1;
   color: #d4a72c;
   text-shadow:
    0 0 6px rgba(234, 179, 8, 0.8),
    0 0 14px rgba(234, 179, 8, 0.35);
}
.main-title {
  color: #facc15;
  text-shadow:
    0 0 8px #facc15,
    0 0 20px rgba(250, 204, 21, 0.5);
}

button {
   display: inline-block;
  background: #1f2937;
  color: #e5e7eb;
  border: 1px solid #374151;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #374151;
}
h1 {
 font-size:3rem;
}

h2 {
 font-size:2rem;
}

h3 {
 font-size:1.3rem;
}
.primary-button {
 display:inline-block;
 background:#1f2937;
 color:#e5e7eb;
 border:1px solid #374151;
 padding:10px 20px;
 border-radius:10px;
 text-decoration:none;
 transition:0.3s;
}

.primary-button:hover {
 background:#374151;
}
p{
  color: antiquewhite;
}