.main-title{
    color:white;
    font-size:4rem;
    font-weight:700;
}

.smart-word{
    color:#facc15;

    text-shadow:
        0 0 8px #facc15,
        0 0 20px rgba(250,204,21,.5);
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    margin-top: 70px;
}

.hero-content {
    flex: 1;
    text-align: right;
}

.hero-image {
    flex: 1;
}
.hero-image img{

    width:500px;

    max-width:100%;

    filter:drop-shadow(0 0 35px rgba(250,204,21,.18));

}
.hero-description{

    color:#cbd5e1;

    font-size:1.15rem;

    line-height:1.9;

    max-width:650px;

}
.hero-buttons{

    display:flex;

    gap:18px;

    margin-top:35px;

}
.primary-btn{

    background:#facc15;

    color:#111827;

    border:none;

    padding:14px 28px;

    border-radius:12px;

    font-weight:bold;

}
.primary-btn:hover{

    background:#eab308;

}
.secondary-btn{

    background:transparent;

    color:white;

    border:1px solid #475569;

    padding:14px 28px;

    border-radius:12px;

}
.second-text{
     display: flex;
  align-items: center;
  gap: 10px;
  color: beige;
}
.second-text h4{
     margin: 0;
}
/* אייקונים */
.icon {
    color: #facc15;
    font-size: 30px;
}
/* אזור מרכזי */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    margin-top: 70px;
}

/* צד הטקסט */
.hero-content {
    flex: 1;
    text-align: right;
}


/* כרטיסי היתרונות */
.features {
      display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 35px;
}

.feature-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: white;
}

.feature-card h4 {
    margin: 0;
    font-size: 1.2rem;
}